.hash-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el texto y el botón */
}

.hash-text {
    margin: 0; /* Eliminar márgenes para mejor alineación */
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

.result {
  margin: 10px 0;
  color: #333;
}

/* Medidas para pantallas más grandes */
@media (min-width: 600px) {
  .text-section {
      flex-direction: column;
      align-items: flex-start;
  }
}


.hash-input {
  background-color: #f8f9fa;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 30%;
  margin-top: 1rem;
}