.hash-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el texto y el botón */
}

.hash-text {
    margin: 0; /* Eliminar márgenes para mejor alineación */
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

